/*** CSS STYLES MY HYPPOCRATES ***/

/*** BODY ***/

#body {
	background: white;
}

#detach_mode {
	background: white;
	width: 80%;
	height: 80%;
}

/*** FRAME ***/

/* @media screen and ...?? (usefull?) */
#page {
	width: 100%;
	background: white;
}

/*** CALENDAR ****/

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

/**** TEXTS, LABELS ****/

.myLabel {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	line-height: 20px;
}

.myWelcomeText {
	font-family: "Arial", Arial, sans-serif;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
	line-height: 20px;
}

/**** UNDERLINE ****/

.underline {
	position: relative;
	margin-top: -5px;
	height: 1pt;
	background-color: black;
	width: 100%;
}

.underline_light_grey {
	position: relative;
	margin-top: -5px;
	height: 1pt;
	background-color: #F5F5F5;
	width: 100%;
}

/*** TOGGLE-BUTTONS *****/

.white_toggle_button {
	border: 2px solid #40D5C5;
	background-color: white;
	color: #40D5C5;
}

.green_toggle_button {
	border: 2px solid #40D5C5;
	background-color: #40D5C5;
	color: white;
}

/*** CONTAINERS **/

#insuranceDetails {
}

#contactsDetails {
}

#account {
	padding-right: 20px;
}

#personnalDetails {
	padding-right: 20px;
}

#physicalDetails {
}

.left_menu_item {
	padding-top: 20px;
	padding-left: 10px;
	background-color: #40D5AD;
	width: 100%;
	height: 60px;
	border: 1px solid #40D5C5;
	text-decoration: none;
}

.left_menu_item p {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: white;
	text-decoration: none;
}

.left_menu_item a:link {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: white;
	text-decoration: none;
}

.left_menu_item a:hover {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: white;
}

.left_menu_item a:visited {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: white;
	background-color: #40D5C5;
}

.History {
	overflow: auto;
	background-color: #F5F5F5;
	height: 200px;
}

.History p {
	padding-top: 5px;
	padding-left: 10px;
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.History ul {
	margin-top: 10px;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	list-style-image: url('../gifs/green_bullet.gif');
}

.History ul li {
	line-height: 1.6;
}

.grey_bandeau {
	background-color: #EFF0FF;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.sub_bandeau {
	height: 50px;
	padding: 10px;
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.bandeau {
	background-color: #40D5AD;
	height: 30px;
}

.bandeau p {
	padding-left: 20px;
	padding-top: 5px;
	color: white;
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.list_of_examination {
}

li a:link {
	color: #40D5AD;
}

li a:hover {
	color: #40D5AD;
	text-decoration: underline;
}

li a:visited {
	color: teal;
}

.general_infos {
	padding: 20px;
	height: 20%;
}

.general_infos p {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.general_infos h1 {
	color: #40D5AD;
	font-family: "Arial", Arial, sans-serif;
	font-size: 16pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.general_infos h2 {
	color: #40D5AD;
	font-family: "Arial", Arial, sans-serif;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
}

.general_infos h3 {
	color: #D3D3D3;
	font-family: "Arial", Arial, sans-serif;
	font-size: 11pt;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
}

.general_infos h4 {
	color: black;
	font-family: "Arial", Arial, sans-serif;
	font-size: 16pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

.general_infos h5 {
	color: black;
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

.general_infos a:link {
	color: teal;
}

.general_infos a:hover {
	color: green;
}

.general_infos a:visited {
	color: #40D5AD;
}

.form-caption {
	font-family: "Arial", Arial, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

.column {
	height: 100%;
	float: left;
	border: 1px solid #40D5AD;
}

.column p {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-align: justify;
	text-justify: newspaper;
}

.header {
	width: 100%;
	height: 80px;
}

.button_set {
	width: 100%;
	height: 20%;
}

.list_of_examination {
	font-family: "Arial", Arial, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.list_of_examination a:link {
	margin-right: 20px;
	color: black;
}

.list_of_examination a:hover {
	margin-right: 20px;
	color: #40D5C5;
}

.list_of_examination a:visited {
	margin-right: 20px;
	color: teal;
}

.footer {
	height: 100px;
	padding-top: 20px;
	padding-left: 500px;
	background-color: #F5F5F5;
	font-family: "Arial", Arial, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.footer a:link {
	margin-right: 20px;
	color: #40D5C5;
}

.footer a:hover {
	margin-right: 20px;
	color: #40D5C5;
	text-decoration: underline;
}

.footer a:visited {
	margin-right: 20px;
	color: teal;
}

/*** DYNAMIC TABS ***/

.dtab_link:link {
	text-decoration:none;
	color: #40D5AD;
	}

.dtab_link:visited {
	text-decoration:none;
	color: #40D5AD;
	}

.dtab_link:hover {
	text-decoration:none;
	color: #40D5AD;
	}

.dtab {
	display: inline;
	margin-left: -2px;
	margin-right: -2px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid noir;
	border-left: 1px solid noir;
	border-top: 1px solid noir;
}

.dtab_av {
	background: white;
	border-right: 1px solid #40D5AD;
	border-left: 1px solid #40D5AD;
	border-top: 1px solid #40D5AD;
	border-bottom: 0px;
}

.dtab_ar_left {
	background: white;
	border-right: 1px solid #40D5AD;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid #40D5AD;
}

.dtab_ar_right {
	background: white;
	border-right: 1px solid black;
	border-left: 1px solid #40D5AD;
	border-top: 1px solid black;
	border-bottom: 1px solid #40D5AD;
}

.dtab_ar {
	background: white;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid #40D5AD;
}

/*********************************/
