<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>abdomen examinations</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen providing abdomen examinations for My Hippocrates" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript">
 		var userLang = navigator.language || navigator.userLanguage; 
 		alert ("The language is: " + userLang);
 	</SCRIPT>-->
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="physicalExaminationCtrl as pe">
	<DIV ID="page">
		<DIV CLASS="list_of_examination">
			<DIV CLASS="grey_bandeau" STYLE="width:100%;padding-top: 10px;">
				<SPAN STYLE="width: 100%">
					<SPAN STYLE="float:left;color: #40D5C5;" ng-click="cancel()">Cancel</SPAN>
					<SPAN STYLE="margin-left: 50%;">Abdomen</SPAN>
					<SPAN STYLE="float: right;color: #40D5C5;" ng-click="save()">Done</SPAN>
				</SPAN>
			</DIV>
			<DIV CLASS="container" STYLE="width: 100%; padding: 10px;">
				<SPAN CLASS="sub_bandeau">Inspection</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.inspection === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenInspectionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.inspection === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenInspectionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.inspection === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenInspectionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenInspectionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Auscultation</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.auscultation === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenAuscultationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.auscultation === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenAuscultationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.auscultation === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenAuscultationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenAuscultationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Percussion</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.percussion === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.percussion === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.percussion === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Palpitation</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.palpitation === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenPalpitationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.palpitation === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5; color: white;" ng-click="pe.switchAbdomenPalpitationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.palpitation === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenPalpitationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenPalpitationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Spleen palpation</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.spleenPalpation === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenSpleenPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.spleenPalpation === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5; color: white;" ng-click="pe.switchAbdomenSpleenPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.spleenPalpation === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenSpleenPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenSpleenPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Liver palpation</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.liverPalpation === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenLiverPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.liverPalpation === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenLiverPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.abdomen.liverPalpation === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchAbdomenLiverPalpationExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchAbdomenLiverPalpationExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV STYLE="height: 100px;"></DIV>
			<DIV STYLE="background-color: #EFF0FF; height: 800px; padding: 20px;">Notes:</DIV>



		</DIV>
	</DIV>
</BODY>
</HTML>
