<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>back and spine examinations</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen providing back and spine examinations for My Hippocrates" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript">
 		var userLang = navigator.language || navigator.userLanguage; 
 		alert ("The language is: " + userLang);
 	</SCRIPT>-->
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="physicalExaminationCtrl as pe">
	<DIV ID="page">
		<DIV CLASS="list_of_examination">
			<DIV CLASS="grey_bandeau" STYLE="width:100%;padding-top: 10px;">
				<SPAN STYLE="width: 100%">
					<SPAN STYLE="float:left;color: #40D5C5;" ng-click="cancel()">Cancel</SPAN>
					<SPAN STYLE="margin-left: 50%;">Back and Spine</SPAN>
					<SPAN STYLE="float: right;color: #40D5C5;" ng-click="save()">Done</SPAN>
				</SPAN>
			</DIV>
			<DIV CLASS="container" STYLE="width: 100%; padding: 10px;">
				<SPAN CLASS="sub_bandeau">Mobility</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.backandspine.mobility === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineMobilityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.backandspine.mobility === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineMobilityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.backandspine.mobility === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineMobilityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineMobilityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Curvature</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.curvature === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCurvatureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.curvature === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCurvatureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.curvature === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCurvatureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCurvatureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Posture</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.posture === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspinePostureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.posture === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspinePostureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.posture === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspinePostureExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspinePostureExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Tenderness</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.tenderness === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineTendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.tenderness === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineTendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.tenderness === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineTendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineTendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">CVA Tenderness</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.cvaTenderness === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCVATendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.cvaTenderness === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCVATendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right"  ng-show="pe.backandspine.cvaTenderness === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchBackandspineCVATendernessExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchBackandspineCVATendernessExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV STYLE="height: 200px;"></DIV>
			<DIV STYLE="background-color: #EFF0FF; height: 800px; padding: 20px;">Notes:</DIV>



		</DIV>
	</DIV>
</BODY>
</HTML>
