<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Chest examinations</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen providing chest examinations for My Hippocrates" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript">
 		var userLang = navigator.language || navigator.userLanguage; 
 		alert ("The language is: " + userLang);
 	</SCRIPT>-->
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="physicalExaminationCtrl as pe">
	<DIV ID="page">
		<DIV CLASS="list_of_examination">
			<DIV CLASS="grey_bandeau" STYLE="width:100%;padding-top: 10px;">
				<SPAN STYLE="width: 100%">
					<SPAN STYLE="float:left;color: #40D5C5;" ng-click="cancel()">Cancel</SPAN>
					<SPAN STYLE="margin-left: 50%;">Chest</SPAN>
					<SPAN STYLE="float: right;color: #40D5C5;" ng-click="save()">Done</SPAN>
				</SPAN>
			</DIV>
			<DIV CLASS="container" STYLE="width: 100%; padding: 10px;">
				<SPAN CLASS="sub_bandeau">Wall shape</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallShape === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallShapeExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallShape === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallShapeExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallShape === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallShapeExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallShapeExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Wall expansion</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallExpansion === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallExpansionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallExpansion === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallExpansionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.wallExpansion === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestWallExpansionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestWallExpansionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Accessory muscle use for respiration</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.accessoryMuscle === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestAccessoryMuscleExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.accessoryMuscle === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestAccessoryMuscleExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.accessoryMuscle === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestAccessoryMuscleExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestAccessoryMuscleExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Tactile fremitus</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.tactileFremitus === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestTactileFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.tactileFremitus === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestTactileFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.tactileFremitus === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestTactileFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestTactileFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Vocale fremitus</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.vocaleFremitus === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestVocaleFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.vocaleFremitus === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestVocaleFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.vocaleFremitus === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestVocaleFremitusExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestVocaleFremitusExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Percussion</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.percussion === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.percussion === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.chest.percussion === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchChestPercussionExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchChestPercussionExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV STYLE="height: 100px;"></DIV>
			<DIV STYLE="background-color: #EFF0FF; height: 800px; padding: 20px;">Notes:</DIV>



		</DIV>
	</DIV>
</BODY>
</HTML>
