<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Chief complaint</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen for chief complaint" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="chiefComplaintCtrl as cc">
	<DIV ID="page">
		<DIV CLASS="header">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 ALIGN="left"><P STYLE="float: right; padding: 10px;"><A HREF="./new_prescription.html" TARGET="_blank"><IMG SRC="./gifs/drug.png" BORDER=0 ng-click="p.setCurrentModule('Drug');p.reset();"></A>&nbsp;&nbsp;<B>Dr Hippocrates</B>&nbsp;&nbsp;<I CLASS="fa fa-search fa-2x"></I>&nbsp;&nbsp;<A HREF="./home.html"><I CLASS="fa fa-home fa-2x"></I></A>&nbsp;&nbsp;<I CLASS="fa fa-power-off fa-2x"></I></P>
			</SPAN>
		</DIV>
		<DIV>
			<DIV CLASS="column" STYLE="width: 15%; height: 1000px; background-color: #40D5AD">
	<DIV CLASS="left_menu_item"><A HREF="./chief_complaint.html">Chief complaint<I CLASS="fa fa-commenting fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./physical_examination.html">Physical examination<I CLASS="fa fa-stethoscope fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./paraclinic_prescription.html">Paraclinic prescription<I CLASS="fa fa-file-text fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="diagnosis.html">Diagnosis<I CLASS="fa fa-file-text-o fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./prescription.html">Drug prescription<I CLASS="fa fa-tint fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./certificates_templates.html">Certificate and templates<I CLASS="fa fa-file-o fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 60%; height: 1000px; border-bottom: 0;">
				<DIV CLASS="general_infos" STYLE="padding: 0;height: 10%;">
					<IMG SRC="./gifs/JDoe.png" BORDER=0 STYLE="float: left;display: inline;">
					<H1><B>John Doe</B></H1>
					<SPAN>Date of birth: 15/02/1963 - Sex: male - Social ID: 1963021545656</SPAN>
				</DIV>
				<DIV>
					<DIV CLASS="dtab_av dtab"><A CLASS="dtab_link" HREF="./chiefComplaint.html">New Consultation</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon1.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar_right dtab">&nbsp;<A CLASS="dtab_link" HREF="patient_data.html">Patient Data</A>&nbsp;&nbsp;&nbsp;<IMG SRC="./gifs/icon2.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="patient_documents.html">Patient Documents</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon3.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="data_analyzing.html">Data Analyzing</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon4.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="tracking_board.html">Tracking board</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon5.png" WIDTH=18 HEIGHT=18></DIV>
				</DIV>
				<DIV CLASS="general_infos">
					<P CLASS="myLabel">Chief complaint</P>
					<HR CLASS="underline">
					<DIV CLASS="col-md-8">
						<INPUT CLASS="form-control" ID="chiefComplaint" NAME="chiefComplaint" TYPE="text" placeholder="type your chief complaint here" ng-model="chiefComplaint">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "onSet">onSet</LABEL>
						<INPUT CLASS="form-control" ID="onSet" NAME="onSet" TYPE="text" ng-model="onSet">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "onQuality">onQuality</LABEL>
						<INPUT CLASS="form-control" ID="onQuality" NAME="onQuality" TYPE="text" ng-model="onQuality">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "severity">severity</LABEL>
						<INPUT TYPE="range" ng-model="severity">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "duration">duration</LABEL>
						<INPUT CLASS="form-control" ID="duration" NAME="duration" TYPE="text" ng-model="duration">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "frequency">duration</LABEL>
						<INPUT CLASS="form-control" ID="frequency" NAME="frequency" TYPE="text" ng-model="frequency">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "precipitatingFactors">precipitating factors</LABEL>
						<INPUT CLASS="form-control" ID="precipitatingFactors" NAME="precipitatingFactors" TYPE="text" ng-model="precipitatingFactors">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "relievingFactors">relieving factors</LABEL>
						<INPUT CLASS="form-control" ID="relievingFactors" NAME="relievingFactors" TYPE="text" ng-model="relievingFactors">
					</DIV><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "associatedSymptoms">associated symptoms</LABEL>
						<INPUT CLASS="form-control" ID="associatedSymptoms" NAME="associatedSymptoms" TYPE="text" ng-model="associatedSymptoms">
					</DIV><BR><BR><BR><BR><BR>
					<DIV CLASS="col-md-8">
						<LABEL FOR "similarSymptoms">Historic of previous similar symptoms symptoms</LABEL>
						<INPUT CLASS="form-control" ID="similarSymptoms" NAME="similarSymptoms" TYPE="text" ng-model="similarSymptoms">
					</DIV><BR><BR><BR><BR><BR>

					<!--<CENTER><H2>This is the screen for chief complaint</H2></CENTER>
					<CENTER><H2>work in progress.....</H2></CENTER>
					<CENTER><H2>an exemple of slider in attendant...</H2></CENTER>
					<CENTER><INPUT TYPE="range"></CENTER>
					<CENTER></CENTER>
					<CENTER><IMG SRC="./gifs/constr.gif" BORDER=0></CENTER>-->
				</DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 20%; height: 1000px; border: 0;">
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Past Medical History</P>
					</DIV>
					<UL>
						<LI>Diabete since 2011</LI>
						<LI>Hypertension since 2015</LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Allergies</P>
					</DIV>
					<UL>
						<LI>Allergy to sea food, severe, since 2011</LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Familly History</P>
					</DIV>
					<UL>
						<LI>Diabete in father</LI>
						<LI>Breast cancer in mother</LI>
					</UL>
				</DIV>
				<DIV CLASS="History" STYLE="height: 500px;">
					<DIV CLASS="bandeau">
						<P>Chronic medication</P>
					</DIV>
					<UL>
						<LI>Tab Metformin 500mg, TDS, since 2011</LI>
					</UL>
				</DIV>
			</DIV>
		</DIV>
		<DIV CLASS="footer" STYLE="clear: left;">
			<SPAN><A HREF="...">For doctors</A>&nbsp;&nbsp;&nbsp;<A HREF="...">For Patient</A>&nbsp;&nbsp;&nbsp;<A HREF="...">About the app</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Privacy</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Blog</A>&nbsp;&nbsp;&nbsp;<A HREF="mailto: myhippocrates@themarketstrust.com">Contact</A></SPAN>
			<DIV>Copyright 2015 MyHippocrates Luxembourg</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
