<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>E.N.T examinations</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen providing E.N.T (Ear-Nose-Throw) examinations for My Hippocrates" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript">
 		var userLang = navigator.language || navigator.userLanguage; 
 		alert ("The language is: " + userLang);
 	</SCRIPT>-->
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="physicalExaminationCtrl as pe">
	<DIV ID="page">
		<DIV CLASS="list_of_examination">
			<DIV CLASS="grey_bandeau" STYLE="width:100%;padding-top: 10px;">
				<SPAN STYLE="width: 100%">
					<SPAN STYLE="float:left;color: #40D5C5;" ng-click="cancel()">Cancel</SPAN>
					<SPAN STYLE="margin-left: 50%;">Ear-Nose-Throw</SPAN>
					<SPAN STYLE="float: right;color: #40D5C5;" ng-click="save()">Done</SPAN>
				</SPAN>
			</DIV>
			<DIV CLASS="container" STYLE="width: 100%; padding: 10px;">
				<SPAN CLASS="sub_bandeau">Hearing acuity</SPAN>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.hearingAcuity === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTHearingAcuityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.hearingAcuity === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTHearingAcuityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.hearingAcuity === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTHearingAcuityExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTHearingAcuityExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Otoscopy</SPAN>
					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.otoscopy === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTOtoscopyExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.otoscopy === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTOtoscopyExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.otoscopy === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTOtoscopyExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTOtoscopyExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Tongue</SPAN>
					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.tongue === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTongueExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.tongue === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTongueExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.tongue === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTongueExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTongueExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>

				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Buccal muccosa</SPAN>
					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.buccalMuccosa === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTBuccalMuccosaExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.buccalMuccosa === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTBuccalMuccosaExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.buccalMuccosa === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTBuccalMuccosaExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTBuccalMuccosaExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Teeth</SPAN>
					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.teeth === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTeethExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.teeth === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTeethExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.teeth === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTTeethExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTTeethExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV CLASS="container" STYLE="width: 100%;">
				<SPAN CLASS="sub_bandeau">Gum</SPAN>
					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.gum === 'undefined'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTGumExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.gum === 'normal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTGumExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
  					<DIV CLASS="btn-group" STYLE="float:right" ng-show="pe.ENT.gum === 'abnormal'">
    						<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('undefined')">Undefined</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="pe.switchENTGumExamination('normal')">Normal&nbsp;</BUTTON>
    						<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="pe.switchENTGumExamination('abnormal')">Abnormal&nbsp;</BUTTON>
  					</DIV>
				</SPAN>
			</DIV>
			<DIV CLASS="sub_bandeau" STYLE="background-color: #EFF0FF;margin-bottom: 10px;"></DIV>
			<HR CLASS="underline_light_grey">
			<DIV STYLE="height: 100px;"></DIV>
			<DIV STYLE="background-color: #EFF0FF; height: 800px; padding: 20px;">Notes:</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
