<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Family history</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen where family history of the patient can be found" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="patientDetailsCtrl as pd">
	<DIV ID="page">
		<DIV CLASS="header">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 ALIGN="left"><P STYLE="float: right; padding: 10px;"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;<B>Trevor Smith<B>&nbsp;&nbsp;<I CLASS="fa fa-search fa-2x"></I>&nbsp;&nbsp;<A HREF="javascript:window.history.back()"><I CLASS="fa fa-arrow-circle-left fa-2x"></I></A>&nbsp;&nbsp;<I CLASS="fa fa-power-off fa-2x"></I></P>
			</SPAN>
		</DIV>
		<DIV>
			<DIV CLASS="column" STYLE="width: 15%; height: 1200px; background-color: #40D5AD;">
				<DIV CLASS="left_menu_item"><A HREF="./home_patient.html">Home<I CLASS="fa fa-home fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./patient_details.html">Administrative data<I CLASS="fa fa-edit fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item">Past medical history<I CLASS="fa fa-archive fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item">Allergy history<I CLASS="fa fa-pagelines fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./family_history.html">Family history<I CLASS="fa fa-group fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item">Immunization<I CLASS="fa fa-medkit fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item">Chronic medication<I CLASS="fa fa-h-square fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 60%; height: 1200px; border-bottom: 0;">
				<DIV CLASS="general_infos" STYLE="padding-left: 0;height: 10%">
					<IMG SRC="./people/TrevorSmith.png" CLASS="img-thumbnail" WIDTH="100" HEIGHT="100" STYLE="float: left;display: inline; margin-left: 20px; margin-right: 20px;">
					<H1><B>Trevor Smith</B></H1>
					<SPAN>Date of birth: 02/02/1971 - Sex: M - Social ID: 1438756709</SPAN>
				</DIV>
				<!--<DIV CLASS="general_infos" STYLE="padding-bottom: 400px;">
					<MAP NAME="famillyTree">
					<AREA SHAPE="circle" COORDS="120,300,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('eleanorsmith')">
					<AREA SHAPE="circle" COORDS="320,300,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('paulsmith')">
					<AREA SHAPE="circle" COORDS="500,300,50" HREF="./patient_details.html" on-click="pd.updateCompleteName('georgesduncan')">
					<AREA SHAPE="circle" COORDS="720,300,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('adrianaduncan')">
					<AREA SHAPE="circle" COORDS="320,500,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('trevorsmith')">
					<AREA SHAPE="circle" COORDS="500,500,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('helensmith')">
					<AREA SHAPE="circle" COORDS="200,720,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('ethansmith')">
					<AREA SHAPE="circle" COORDS="600,720,50" HREF="./patient_details.html" ng-click="pd.updateCompleteName('alexandrasmith')">
					</MAP>
					<CENTER><IMG SRC="./people/Smith.png" BORDER=0 USEMAP="#famillyTree"></CENTER>
				</DIV>-->
				<DIV CLASS="general_infos" STYLE="padding-bottom: 400px;">
					<IMG SRC="./people/EleanorSmith.png" CLASS="img-circle">
				</DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 20%; height: 1200px; border: 0; background-color: teal;">
				<P>&nbsp;</P>
			</DIV>
		</DIV>
		<DIV CLASS="footer" STYLE="clear: left;">
			<SPAN><A HREF="...">For doctors</A>&nbsp;&nbsp;&nbsp;<A HREF="...">For Patient</A>&nbsp;&nbsp;&nbsp;<A HREF="...">About the app</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Privacy</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Blog</A>&nbsp;&nbsp;&nbsp;<A HREF="mailto: myhippocrates@themarketstrust.com">Contact</A></SPAN>
			<DIV>Copyright 2015 MyHippocrates Luxembourg</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
