<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>My Hippocrates - General index</TITLE>
	<META CHARSET="utf-8">
	<META NAME="default-language" CONTENT="English" />
	<META NAME="description" CONTENT="The start screen of My Hippocrates application" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="loginCtrl as l">
	<DIV CLASS="header" STYLE="border: 1px solid #40D5C5; height: 100px">
		<DIV STYLE="margin-left: 20%; margin-right: 20%; padding-top: 10px;">
			<SPAN STYLE="float: right;">
				<A HREF="" STYLE="margin-right: 10px;">About</A><A HREF="mailto: info@myhippocrates.eu" STYLE="margin-right: 10px;">Contact us</A><SPAN STYLE="background-color: grey;">Language</SPAN>&nbsp;<A HREF="">EN</A>&nbsp;<A HREF="">FR</A>&nbsp;<A HREF="">DE</A>&nbsp;<A HREF="">IT</A>&nbsp;<SPAN CLASS="glyphicon glyphicon-search"></SPAN>
			</SPAN>
		</DIV><BR>
		<DIV STYLE="margin-left: 20%; margin-right: 20%; padding-top: 10px;">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 STYLE="float: left;">
				<DIV CLASS="dropdown" STYLE="float: right;">
					<BUTTON CLASS="btn btn-primary dropdown-toggle" TYPE="button" data-toggle="dropdown" STYLE="border: 0;color: white;background-color: #40D5C5;">Login<SPAN CLASS="caret"></SPAN></BUTTON>
					<UL CLASS="dropdown-menu">
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('doctor')">Doctor</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('staff')">Administrative Staff</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('nursing')">Nursing</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('patient')">Patient</A></LI>
  					</UL>
				</DIV>
			</SPAN>
		</DIV>
	</DIV>
	<DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 20%;">
			<P>&nbsp;</P>
		</DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 60%;">
			<DIV>
				<CENTER><IMG SRC="./gifs/myHippocratesPresentation.png" BORDER=0"></CENTER><BR><BR>
				<CENTER><H2>This is the screen for My Hippocrates presentation</H2></CENTER>
				<CENTER><H2>work in progress.....</H2></CENTER>
				<CENTER><IMG SRC="./gifs/constr.gif" BORDER=0></CENTER>
				<BR><BR><BR>
			</DIV>
			<DIV CLASS="footer">
				<SPAN><A HREF="...">For doctors</A><A HREF="...">For Patient</A><A HREF="...">About the app</A><A HREF="...">Privacy</A><A HREF="...">Blog</A><A HREF="mailto: info@myhippocrates.eu">Contact</A></SPAN><BR>
				<SPAN>Copyright 2015 MyHippocrates Luxembourg</SPAN>
			</DIV>
		</DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 20%;">
		</DIV>
	</DIV>
</BODY>
</HTML>
