<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>My Hippocrates - loggin screen</TITLE>
	<META CHARSET="utf-8">
	<META NAME="default-language" CONTENT="English" />
	<META NAME="description" CONTENT="The start loggin screen of My Hippocrates application" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript">
 		var userLang = navigator.language || navigator.userLanguage; 
 		alert ("The language is: " + userLang);
 	</SCRIPT>-->
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="loginCtrl as l" ng-init="l.initCurrentRole()">
	<DIV CLASS="header" STYLE="border-bottom: 1px solid #40D5C5; height: 100px">
		<DIV STYLE="margin-left: 20%; margin-right: 20%; padding-top: 10px;">
			<SPAN STYLE="float: right;">
				<A HREF="" STYLE="margin-right: 10px;">About</A><A HREF="mailto: info@myhippocrates.eu" STYLE="margin-right: 10px;">Contact us</A><SPAN STYLE="background-color: grey;">Language</SPAN>&nbsp;<A HREF="">EN</A>&nbsp;<A HREF="">FR</A>&nbsp;<A HREF="">DE</A>&nbsp;<A HREF="">IT</A>&nbsp;<SPAN CLASS="glyphicon glyphicon-search"></SPAN>
			</SPAN>
		</DIV><BR>
		<DIV STYLE="margin-left: 20%; margin-right: 20%; padding-top: 10px;">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 STYLE="float: left;">
				<DIV CLASS="dropdown" STYLE="float: right;">
					<BUTTON CLASS="btn btn-primary dropdown-toggle" TYPE="button" data-toggle="dropdown" STYLE="border: 0;color: white;background-color: #40D5C5; padding-left: 60px; padding-right: 60px;">Login
  					<SPAN CLASS="caret"></SPAN></BUTTON>
					<UL CLASS="dropdown-menu">
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('doctor')">Doctor</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('staff')">Administrative Staff</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('nursing')">Nursing</A></LI>
    						<LI><A HREF="login.html" ng-click="l.setCurrentRole('patient')">Patient</A></LI>
  					</UL>
				</DIV>
			</SPAN>
		</DIV>
	</DIV>
	<DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 20%;">
			<P>&nbsp;</P>
		</DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 60%;">
			<DIV STYLE="margin-top: 100px; margin-bottom: 300px;">
				<CENTER><DIV ng-show="l.loginIncorrect" CLASS="alert alert-danger">{{l.incorrectLoginMessage}}</DIV></CENTER>
				<CENTER><DIV ng-show="l.currentRole === 'doctor'"><I CLASS="fa fa-user-md fa-2x"></I></DIV></CENTER>
				<CENTER><DIV ng-show="l.currentRole === 'staff'"><I CLASS="fa fa-pencil-square-o fa-2x"></I></DIV></CENTER>
				<CENTER><DIV ng-show="l.currentRole === 'nursing'"><I CLASS="fa fa-medkit fa-2x"></I></DIV></CENTER>
				<CENTER><DIV ng-show="l.currentRole === 'patient'"><I CLASS="fa fa-user fa-2x"></I></DIV></CENTER>
				<CENTER><H5>Authentification required</H5></CENTER>
				<FORM NAME="loginForm" ng-submit="l.login()" ROLE="form">
					<CENTER><DIV CLASS="col-md-4 col-md-offset-4"><INPUT CLASS="form-control" ID="username" NAME="username" ng-model="l.User" required></INPUT></DIV></CENTER><BR><BR><BR>
					<CENTER><DIV CLASS="col-md-4 col-md-offset-4"><INPUT CLASS="form-control" ID="passwd" NAME="passwd" ng-model="l.Password" required></INPUT></DIV></CENTER><BR><BR><BR>
  					<CENTER><BUTTON TYPE="submit" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #40D5C5; padding-left: 130px; padding-right: 130px;" NAME="loginAction" ID="loginAction">Log In</BUTTON></CENTER>
				</FORM>
				<DIV CLASS="footer" STYLE="background-color: white; margin-left: 35%; margin-right: 35%; border-bottom: 2px solid #40D5C5; padding-left: 0;padding-top: 10px;height: 40px;"><A HREF="passwdForgot.html">Forgot your password?</A></DIV>
				<DIV CLASS="footer" STYLE="background-color: white;padding-left: 0;"><CENTER><A HREF="createProfile.html">Create a new user profile</A></CENTER></DIV>
			</DIV>
			<DIV CLASS="footer" STYLE="background-color: white;">
				<SPAN><A HREF="...">For doctors</A><A HREF="...">For Patient</A><A HREF="...">About the app</A><A HREF="...">Privacy</A><A HREF="...">Blog</A><A HREF="mailto: info@myhippocrates.eu">Contact</A></SPAN><BR>
				<SPAN>Copyright 2015 My Hippocrates Luxembourg</SPAN>
			</DIV>
		</DIV>
		<DIV CLASS="column" STYLE="border: 0; width: 20%;">
		</DIV>
	</DIV>
</BODY>
</HTML>
