<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Modify Patient Data</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen where data of the current patient can be modified" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocrates.app" ng-controller="patientDataCtrl as pd">
	<DIV ID="page">
		<DIV CLASS="grey_bandeau" STYLE="width:100%;padding-top: 10px;">
			<SPAN STYLE="width: 100%">
				<SPAN STYLE="float:left;color: #40D5C5;" ng-click="pd.cancel()">Cancel</SPAN>
				<SPAN STYLE="margin-left: 50%;"><I CLASS="fa fa-user fa-1g"></I>&nbsp;Modify Patient</SPAN>
				<SPAN STYLE="float: right;color: #40D5C5;" ng-click="pd.update()">Done</SPAN>
			</SPAN><BR><BR><BR><BR>
		</DIV><BR><BR>
		<DIV CLASS="personnalDetails" STYLE="padding-left: 20px;">
			<P CLASS="myLabel">Personnal details</P>
			<HR CLASS="underline">
			<P CLASS="myLabel" STYLE="font-weight: normal">First Name: <INPUT TYPE="text" ID="firstName" NAME="firstName" VALUE="{{pd.recoverFirstName()}}"></P>
			<HR CLASS="underline_light_grey">
			<P CLASS="myLabel" STYLE="font-weight: normal">Last Name: <INPUT TYPE="text" ID="LastName" NAME="lastName" VALUE="{{pd.recoverLastName()}}"></P>
			<HR CLASS="underline_light_grey">
			<P CLASS="myLabel" STYLE="font-weight: normal">Photo: <I>(upload file)</I> <INPUT SIZE="20" ID="fileName" NAME="fileName" VALUE="{{pd.recoverLastName()}}"></P>
			<HR CLASS="underline_light_grey">
			<P CLASS="myLabel" STYLE="font-weight: normal">Birth date: <INPUT TYPE="date" ID="birthDate" NAME="birthDate" VALUE="{{pd.recoverbirthDate()}}"></P>
		</DIV><BR>
		<DIV CLASS="general_infos">
			<DIV CLASS="insuranceDetails">
				<P CLASS="myLabel">Insurance details</P>
				<HR CLASS="underline">
				<P CLASS="myLabel" STYLE="font-weight: normal">Social security: <INPUT TYPE="text" ID="socialID" NAME="socialID" VALUE="{{pd.recoverSocialID()}}"></P>
				<HR CLASS="underline_light_grey">
				<P CLASS="myLabel" STYLE="font-weight: normal">Health insurance: <INPUT TYPE="text" ID="healthIns" NAME="healthIns" VALUE="{{pd.recoverHealthIns()}}"></P>
				<HR CLASS="underline_light_grey">
				<P CLASS="myLabel" STYLE="font-weight: normal">Complementary insurance: <INPUT TYPE="text" ID="complementaryIns" NAME="complementaryIns" VALUE="{{pd.recoverComplementaryIns()}}"></P>
			</DIV><BR>
			<DIV ID="contactDetails">
				<P CLASS="myLabel">Contact details</P>
				<HR CLASS="underline">
				<P CLASS="myLabel" STYLE="font-weight: normal">Address: <INPUT TYPE="text" ID="address" NAME="address" VALUE="{{pd.recoverAddress()}}"></P>
				<HR CLASS="underline_light_grey">
				<P CLASS="myLabel" STYLE="font-weight: normal">Phone number: <INPUT TYPE="text" ID="phone" NAME="phone" VALUE="{{pd.recoverPhone()}}"></P>
				<HR CLASS="underline_light_grey">
				<P CLASS="myLabel" STYLE="font-weight: normal">Mobile number: <INPUT TYPE="text" ID="mobile" NAME="mobile" VALUE="{{pd.recoverMobile()}}"></P>
				<HR CLASS="underline_light_grey">
				<P CLASS="myLabel" STYLE="font-weight: normal">ICE number: <INPUT TYPE="text" ID="ICE" NAME="ICE" VALUE="{{pd.recoverICE()}}"></P>
			</DIV><BR>
			<DIV>
				<DIV STYLE="float: left; width: 50%">
					<DIV ID="account">
						<P CLASS="myLabel">Account</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Email: <INPUT TYPE="text" ID="email" NAME="email" VALUE="{{pd.recoverEmail()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Language: <INPUT TYPE="text" ID="language" NAME="language" VALUE="{{pd.recoverLanguage()}}"></P>
					</DIV><BR>
					<DIV ID="personnalDetails">
						<P CLASS="myLabel">Personnal details</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Marital status: <INPUT TYPE="text" ID="maritalStatus" NAME="maritalStatus" VALUE="{{pd.recoverMaritalStatus()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Children: <INPUT TYPE="text" ID="childreen" NAME="childreen" VALUE="{{pd.recoverChildreen()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Delivery: <INPUT TYPE="text" ID="delivery" NAME="delivery" VALUE="{{pd.recoverDelivery()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Nationality: <INPUT TYPE="text" ID="nationality" NAME="nationality" VALUE="{{pd.recoverNationality()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Occupation: <INPUT TYPE="text" ID="occupation" NAME="occupation" VALUE="{{pd.recoverOccupation()}}"></P>
					</DIV>
				</DIV>
				<DIV STYLE="float: right; width: 50%">
					<DIV ID="physicalDetails">
						<P CLASS="myLabel">Physical details</P>
						<HR CLASS="underline">
						<DIV>
							<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
								<P CLASS="myLabel" STYLE="font-weight: normal">Height: <INPUT TYPE="text" ID="height" NAME="height" VALUE="{{pd.recoverHeight()}}"></P>
								<HR CLASS="underline_light_grey">
							</DIV>
							<DIV STYLE="float: right; width: 50%">
								<P CLASS="myLabel" STYLE="font-weight: normal">Weight: <INPUT TYPE="text" ID="weight" NAME="weight" VALUE="{{pd.recoverWeight()}}"></P>
								<HR CLASS="underline_light_grey">
							</DIV>
						</DIV>
						<P CLASS="myLabel" STYLE="font-weight: normal">BMI: <INPUT TYPE="text" ID="BMI" NAME="BMI" VALUE="{{pd.recoverBMI()}}"></P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">ONSET: <INPUT TYPE="text" ID="ONSET" NAME="ONSET" VALUE="{{pd.recoverONSET()}}"></P>
						<HR CLASS="underline_light_grey">
						<DIV>
							<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
								<P CLASS="myLabel" STYLE="font-weight: normal">Smoker: <INPUT TYPE="text" ID="smoker" NAME="smoker" VALUE="{{pd.recoverSmoker()}}"></P>
								<HR CLASS="underline_light_grey">
							</DIV>
							<DIV STYLE="float: right; width: 50%">
								<P CLASS="myLabel" STYLE="font-weight: normal">Packs/Year: <INPUT TYPE="text" ID="packspy" NAME="packspy" VALUE="{{pd.recoverPacksPY()}}"></P>
								<HR CLASS="underline_light_grey">
							</DIV>
						</DIV><BR>
						<P CLASS="myLabel">Notes</P>
						<HR CLASS="underline">
					</DIV>
				</DIV>
			</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
