<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>new prescription</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The new prescription's screen callable from drug module" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" /> -->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
	<STYLE>
		body { width: "50%;" }
	</STYLE>
</HEAD>
<BODY ID="detach_mode" ng-app="myHippocratesApp" ng-controller="prescriptionCtrl as p">
	<DIV ID="page">
		<DIV CLASS="general_infos">
			<H2>{{p.getCurrentModule()}} Prescription</H2>
			<P>Patient's name: {{p.patientData.firstName}} {{p.patientData.lastName}}</P>
			<P>Dr Hippocrates</P>
		</DIV>
		<DIV CLASS="general_infos">
			<DIV><IMG SRC="./gifs/drug.png" BORDER=0></SPAN><SPAN CLASS="form-caption">Add new drug</DIV>
			<SPAN CLASS="col-xs-4">
				<LABEL FOR "commercialItem">commercial name:</LABEL>
				<SELECT CLASS="form-control" NAME="commercialItem" ID="commercialItem" ng-options="commercialDrugName for commercialDrugName in p.commercialDrugNames" ng-model="p.drugItem.commercialDrugName"></SELECT>
			</SPAN>
			<SPAN CLASS="col-xs-4">
				<LABEL FOR "nonCommercialItem">non commercial name:</LABEL>
				<SELECT CLASS="form-control" NAME="nonCommercialItem" ID="nonCommercialItem" ng-options="nonCommercialDrugName for nonCommercialDrugName in p.nonCommercialDrugNames" ng-model="p.drugItem.nonCommercialDrugName"></SELECT>
			</SPAN><BR>
			<SPAN>
				<BUTTON TYPE="button" CLASS="btn btn-primary" ng-model="p.value" ng-click="p.appendDrugName()">Add</BUTTON>
			</SPAN>
		</DIV>
		<DIV CLASS="general_infos">
			<SPAN CLASS="glyphicon glyphicon-tint"></SPAN>&nbsp;<SPAN CLASS="form-caption">Dosage</SPAN><HR>
			<SPAN CLASS="col-xs-2">
				<LABEL FOR="amountDosage">Amount:</LABEL>
				<SELECT CLASS="form-control" NAME="amountDosage" ID="amountDosage" ng-options="amount for amount in p.amounts" ng-model="p.dosage.amount">
				</SELECT>
			</SPAN>
			<SPAN CLASS="col-xs-2">
				<LABEL FOR="formDosage">Form:</LABEL>
				<SELECT CLASS="form-control" NAME="formDosage" ID="formDosage" ng-options="form for form in p.forms" ng-model="p.dosage.form">
				</SELECT>
			</SPAN>
			<SPAN CLASS="col-xs-2">
				<LABEL FOR="frequencyDosage">Frequency:</LABEL>
				<SELECT CLASS="form-control" NAME="frequencyDosage" ID="frequencyDosage" ng-options="frequency for frequency in p.frequencies" ng-model="p.dosage.frequency">
				</SELECT>
			</SPAN>
			<SPAN CLASS="col-xs-2">
				<LABEL FOR="timeDosage">Time:</LABEL>
				<SELECT CLASS="form-control" NAME="timeDosage" ID="timeDosage" ng-options="time for time in p.times" ng-model="p.dosage.time">
				</SELECT>
			</SPAN>
			<SPAN CLASS="col-xs-2">
				<LABEL FOR="mealDosage">Meal:</LABEL>
				<SELECT CLASS="form-control" NAME="mealDosage" ID="mealDosage" ng-options="meal for meal in p.meals" ng-model="p.dosage.meal">
				</SELECT>
			</SPAN><BR>
			<BUTTON TYPE="button" CLASS="btn btn-primary" ng-model="p.value" ng-click="p.appendDosage()">Add</BUTTON>
		</DIV>
		<DIV CLASS="container" STYLE="margin-bottom: 10px;">
  			<FORM ROLE="form">
				<DIV CLASS="cols-xs-4">
					<LABEL FOR="prescription">Prescription:</LABEL>
					<TEXTAREA CLASS="form-control" ROWS="10" COLS="40" ID="prescription" NAME="prescription" ng-model="p.value">{{p.value}}</TEXTAREA>
				</DIV><BR><BR>
				<DIV CLASS="cols-xs-4">
					<LABEL FOR="drugList">List of the prescribed drugs:</LABEL>
					<TEXTAREA CLASS="form-control" ROWS="10" COLS="40" ID="drugList" NAME="drugList" ng-model="p.listOfDrugs">{{p.listOfDrugs}}</TEXTAREA>

				</DIV>
			</FORM>
		</DIV>
		<DIV CLASS="button_set;">
			<CENTER>
			<SPAN STYLE="margin-top: 10px;" ng_controller="prescriptionCtrl">
  				<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #40D5C5; padding-left: 40px; padding-right: 40px;" NAME="confirmNewPrescription" ng-click="p.confirmNewPrescriptionAndClose(p.value);p.reloadParentWindow();">Confirm</BUTTON>
  				<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #FF4500; padding-left: 40px; padding-right: 40px;" NAME="cancelNewPrescription" ng-click="p.cancel()">Cancel</BUTTON>
			</SPAN>
			</CENTER>
		</DIV>

	</DIV>
</BODY>
</HTML>
