<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Paraclinic prescription</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The main screen for paraclinic module, available for new consultation" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
        <!--<link rel="stylesheet" type="text/css" media="screen" href="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/bootstrap.css">-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/font-awesome.css">
        <link href="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/prettify-1.css" rel="stylesheet">
        <!-- <link href="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/base.css" rel="stylesheet"> -->

	<!-- *** <LINK HREF="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet"> -->
        <link href="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/bootstrap-datetimepicker.css" rel="stylesheet">
	<script src="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/analytics.js" async=""></script>
  	<!-- *** <SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>-->
	<script type="text/javascript" src="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/jquery-2.js"></script>
  	<!-- ***<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT> -->
	<script type="text/javascript" src="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/bootstrap.js"></script>

	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></SCRIPT>
	<!--<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/moment.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/css/bootstrap/bootstrap-datetimepicker.min.css"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap-datetimepicker.min.js"></SCRIPT>-->
	<!-- ***<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/moment-with-locales.js"></SCRIPT> -->
	<script src="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/moment-with-locales.js"></script>
	<SCRIPT TYPE="text/javascript" SRC="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="https://cdjnjs.cloudfare.com/ajax/libs/bootstrap-datetimapicker/4.17.37/css/bootstrap-datetimepicker.min.css"></SCRIPT>
	<!-- ***<SCRIPT TYPE="text/javascript" SRC="https://cdjnjs.cloudfare.com/ajax/libs/bootstrap-datetimapicker/4.17.37/js/bootstrap-datetimepicker.min.js"></SCRIPT> -->
	<script src="/home/mgms4000/programs/misc/bootstrap/datetimepicker/Bootstrap%203%20Datepicker_files/bootstrap-datetimepicker.js"></script>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="prescriptionCtrl as p">
	<DIV ID="page">
		<DIV CLASS="header">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 ALIGN="left"><P STYLE="float: right; padding: 10px;"><A HREF="./new_prescription.html" TARGET="_blank"><IMG SRC="./gifs/drug.png" BORDER=0 ng-click="p.setCurrentModule('Paraclinic');p.reset();"></A>&nbsp;&nbsp;<B>Dr Hippocrates</B>&nbsp;&nbsp;<I CLASS="fa fa-search fa-2x"></I>&nbsp;&nbsp;<A HREF="./home.html"><I CLASS="fa fa-home fa-2x"></I></A>&nbsp;&nbsp;<I CLASS="fa fa-power-off fa-2x"></I></P>
			</SPAN>
		</DIV>
		<DIV>
			<DIV CLASS="column" STYLE="width: 15%; height: 1000px; background-color: #40D5AD">
				<DIV CLASS="left_menu_item"><A HREF="./chief_complaint.html">Chief complaint<I CLASS="fa fa-commenting fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./physical_examination.html">Physical examination<I CLASS="fa fa-stethoscope fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./paraclinic_prescription.html">Paraclinic prescription<I CLASS="fa fa-file-text fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="diagnosis.html">Diagnosis<I CLASS="fa fa-file-text-o fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./prescription.html">Drug prescription<I CLASS="fa fa-tint fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./certificates_templates.html">Certificate and templates<I CLASS="fa fa-file-o fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 60%; height: 1000px; border-bottom: 0;">
				<DIV CLASS="general_infos" STYLE="padding: 0; height: 10%;">
					<IMG SRC="./gifs/JDoe.png" BORDER=0 STYLE="float: left;display: inline;">
					<H1><B>{{p.patientData.firstName}} {{p.patientData.lastName}}</B></H1>
						<SPAN>Date of birth: {{p.patientData.birthDate}} - Sex: {{p.patientData.gender}} - Social ID: {{p.patientData.socialID}}</SPAN>
				</DIV>
				<DIV>
					<DIV CLASS="dtab_av dtab"><A CLASS="dtab_link" HREF="./chief_complaint.html">New Consultation</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon1.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar_right dtab">&nbsp;<A CLASS="dtab_link" HREF="patient_data.html">Patient Data</A>&nbsp;&nbsp;&nbsp;<IMG SRC="./gifs/icon2.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="lab_data.html">Patient Documents</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon3.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="data_analyzing.html">Data Analyzing</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon4.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="tracking_board.html">Tracking board</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon5.png" WIDTH=18 HEIGHT=18></DIV>
				</DIV>
				<DIV CLASS="general-infos" STYLE="margin-top: 20px">
					<DIV CLASS="col-xs-4 col-xs-offset-4">
						<LABEL FOR "availableTemplates">Call templates:</LABEL>
						<INPUT CLASS="form-control" ID="availableTemplates" NAME="availableTemplates" TYPE="text">
					</DIV>
				</DIV><BR><BR><BR><BR>
				<DIV CLASS="container" STYLE="margin-left: 37px;">
        				<DIV CLASS="col-md-4">
            					<DIV CLASS="form-group">
							<LABEL FOR "datePrescription">Date:</LABEL>
                					<DIV CLASS='input-group date' ID='datetimepicker1'>
                    						<INPUT TYPE='text' ID="datePrescription" NAME="datePrescription" CLASS="form-control" />
                    						<SPAN CLASS="input-group-addon">
                       							<SPAN CLASS="glyphicon glyphicon-calendar"></SPAN>
                    						</SPAN>
                					</DIV>
            					</DIV>
        				</DIV>
        				<SCRIPT TYPE="text/javascript">
            					$(function () {
                					$('#datetimepicker1').datetimepicker({
                    						locale: 'en'
                					});
            					});
        				</SCRIPT>
					<DIV CLASS="col-md-4">
            					<DIV CLASS="form-group">
							<LABEL FOR "dateExpirationPrescription">Date expiration:</LABEL>
                					<DIV CLASS='input-group date' ID='datetimepicker2'>
                    						<INPUT TYPE='text' ID="dateExpirationPrescription" NAME="dateExpirationPrescription" CLASS="form-control" />
                    						<SPAN CLASS="input-group-addon">
                       							<SPAN CLASS="glyphicon glyphicon-calendar"></SPAN>
                    						</SPAN>
                					</DIV>
            					</DIV>
        				</DIV>
        				<SCRIPT TYPE="text/javascript">
            					$(function () {
                					$('#datetimepicker2').datetimepicker({
                    						locale: 'en'
                					});
            					});
        				</SCRIPT>
				</DIV>
				<TABLE BORDER=0><TR><TD>
					<SPAN CLASS="checkbox" STYLE="margin-left: 20px;">
						<LABEL><INPUT TYPE="checkbox" VALUE="" NAME="isAccident" ID="isAccident" ng-model="isAccident"></LABEL>
					</SPAN>
				</TD><TD>
					<DIV CLASS="container">					
						<SPAN CLASS="col-xs-4">
							<LABEL FOR "accidentNumber">Accident number:</LABEL>
                    					<INPUT TYPE='text' CLASS="form-control" ID="accidentNumber" NAME="accidentNumber" ng-disabled="!isAccident"/>
						</SPAN>
						<DIV CLASS="col-md-4" STYLE="position: inline;">
            						<DIV CLASS="form-group">
								<LABEL FOR "dateAccident">Date accident:</LABEL>
                						<DIV CLASS='input-group date' ID='datetimepicker3'>
                    							<INPUT TYPE='text' ID="dateAccident" NAME="dateAccident" CLASS="form-control" ng-disabled="!isAccident"/>
                    							<SPAN CLASS="input-group-addon">
                       								<SPAN CLASS="glyphicon glyphicon-calendar"></SPAN>
                    							</SPAN>
                						</DIV>
            						</DIV>
        					</DIV>
        					<SCRIPT TYPE="text/javascript">
            						$(function () {
                						$('#datetimepicker3').datetimepicker({
                    							locale: 'en'
                						});
            						});
        					</SCRIPT>
					</DIV>
				</TD></TR></TABLE>
				<DIV>
  					<FORM STYLE="margin: 10px;">
						<DIV CLASS="form-group">
							<LABEL FOR="currentPrescription">Current prescription:</LABEL>
							<TEXTAREA CLASS="form-control" ROWS="10" COLS="40" NAME="currentPrescription" ID="currentPrescription" TYPE="text" ng-model="p.value">{{p.latestData()}}</TEXTAREA>
							<LABEL FOR="test">Testing text: {{p.latestData()}}</LABEL>
						</DIV>
						<DIV CLASS="form-group">
							<LABEL FOR="savedPrescriptions">Past prescriptions:</LABEL>
							<TEXTAREA CLASS="form-control" ROWS="10" COLS="40" NAME="savedPrescriptions" ID="savedPrescriptions" TYPE="text" disabled></TEXTAREA>
						</DIV>
					</FORM>
				</DIV>
				<DIV CLASS="button_set" STYLE="padding-bottom: 20px;">
					<CENTER><SPAN STYLE="margin-top: 10px; margin-bottom: 10px;">
 						<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #778899; padding-left: 40px; padding-right: 40px;">Print</BUTTON>    
  						<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #6495ED; padding-left: 40px; padding-right: 40px;" ng-click="savePrescription()">Save</BUTTON>
  						<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #F4A460; padding-left: 40px; padding-right: 40px;"><A HREF="./template.html" TARGET="_blank" ng-click="p.setCurrentModule('Paraclinic');p.update(p.value);">Create</A></BUTTON>
					</SPAN></CENTER>
				</DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 20%; height: 1000px; border: 0;">
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Past Medical History</P>
					</DIV>
					<UL>
						<LI>Diabete since 2011</LI>
						<LI>Hypertension since 2015</LI>
						<LI><A HREF="./asthma_disease.html">chronic asthma since 1970</A></LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Allergies</P>
					</DIV>
					<UL>
						<LI>Allergy to sea food, severe, since 2011</LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Familly History</P>
					</DIV>
					<UL>
						<LI>Diabete in father</LI>
						<LI>Breast cancer in mother</LI>
					</UL>
				</DIV>
				<DIV CLASS="History" STYLE="height: 500px;">
					<DIV CLASS="bandeau">
						<P>Chronic medication</P>
					</DIV>
					<UL>
						<LI>Tab Metformin 500mg, TDS, since 2011</LI>
					</UL>
				</DIV>
			</DIV>
		</DIV>
		<DIV CLASS="footer" STYLE="clear: left;">
			<SPAN><A HREF="...">For doctors</A>&nbsp;&nbsp;&nbsp;<A HREF="...">For Patient</A>&nbsp;&nbsp;&nbsp;<A HREF="...">About the app</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Privacy</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Blog</A>&nbsp;&nbsp;&nbsp;<A HREF="mailto: myhippocrates@themarketstrust.com">Contact</A></SPAN>
			<DIV>Copyright 2015 MyHippocrates Luxembourg</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
