<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Patient Details</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen where medical details of the patient can be read" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="patientDetailsCtrl as pd" ng-init="pd.fillFields()">
	<DIV ID="page">
		<DIV CLASS="header">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 ALIGN="left"><P STYLE="float: right; padding: 10px;"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;<B>Trevor Smith<B>&nbsp;&nbsp;<SPAN CLASS="fa fa-search fa-2x"></SPAN>&nbsp;&nbsp;<A HREF="javascript:window.history.back()"><I TITLE="back" CLASS="fa fa-arrow-circle-left fa-2x"></I></A>&nbsp;&nbsp;<I TITLE="logout" CLASS="fa fa-power-off fa-2x"></I></P>
			</SPAN>
		</DIV>
		<DIV>
			<DIV CLASS="column" STYLE="width: 15%; height: 1200px; background-color: #40D5AD;">
				<DIV CLASS="left_menu_item"><A HREF="./home_patient.html">Home<I CLASS="fa fa-home fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>

				<DIV CLASS="left_menu_item"><A HREF="./patient_details.html">Administrative data<I CLASS="fa fa-edit fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item">Past medical history<I CLASS="fa fa-archive fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item">Allergy history<I CLASS="fa fa-pagelines fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./family_history.html">Family history<I CLASS="fa fa-group fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item">Immunisation<I CLASS="fa fa-medkit fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
				<DIV CLASS="left_menu_item">Chronic medication<I CLASS="fa fa-h-square fa-1g" STYLE="float: right; padding-right: 10px;"></I></DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 60%; height: 1200px; border-bottom: 0;">
				<DIV CLASS="general_infos" STYLE="padding: 0; height: 9%">
					<IMG SRC="{{pd.patientDetails.photo}}" CLASS="img-thumbnail" BORDER=0 WIDTH="100" HEIGHT="100" STYLE="float: left; margin-left: 20px; margin-right: 20px;">
					<H1><B>{{pd.patientDetails.firstName}}&nbsp;{{pd.patientDetails.lastName}}</B></H1>
					<SPAN>Date of birth:&nbsp;{{pd.patientDetails.birthDate}} - Sex: {{pd.patientDetails.sex}} - Social ID: {{pd.patientDetails.socialID}}</SPAN>
				</DIV>
				<DIV CLASS="general_infos">
					<DIV CLASS="insuranceDetails">
						<P CLASS="myLabel">Insurance details</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Social security: {{pd.patientDetails.socialID}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Health insurance: {{pd.patientDetails.healthIns}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Complementary insurance: {{pd.recoverComplementaryIns}}</P>
					</DIV><BR>
					<DIV ID="contactDetails">
						<P CLASS="myLabel">Contact details</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Address: {{pd.patientDetails.address}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Phone number: {{pd.patientDetails.phone}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Mobile number: {{pd.patientDetails.mobile}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">ICE number: {{pd.patientDetails.ICE}}</P>
					</DIV><BR>
					<DIV>
						<DIV STYLE="float: left; width: 50%">
							<DIV ID="account">
								<P CLASS="myLabel">Account</P>
								<HR CLASS="underline">
								<P CLASS="myLabel" STYLE="font-weight: normal">Email: {{pd.patientDetails.email}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Language: {{pd.patientDetails.language}}</P>
							</DIV><BR>
							<DIV ID="personnalDetails">
								<P CLASS="myLabel">Personnal details</P>
								<HR CLASS="underline">
								<P CLASS="myLabel" STYLE="font-weight: normal">Marital status: {{pd.patientDetails.maritalStatus}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Childreen: {{pd.patientDetails.childreen}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Delivery: {{pd.patientDetails.delivery}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Nationality: {{pd.patientDetails.nationality}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Occupation: {{pd.patientDetails.occupation}}</P>
							</DIV>
						</DIV>
						<DIV STYLE="float: right; width: 50%">
							<DIV ID="physicalDetails">
								<P CLASS="myLabel">Physical details</P>
								<HR CLASS="underline">
								<DIV>
									<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
										<P CLASS="myLabel" STYLE="font-weight: normal">Height: {{pd.patientDetails.height}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
									<DIV STYLE="float: right; width: 50%">
										<P CLASS="myLabel" STYLE="font-weight: normal">Weight: {{pd.patientDetails.weight}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
								</DIV>
								<P CLASS="myLabel" STYLE="font-weight: normal">BMI: {{pd.patientDetails.BMI}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">ONSET: {{pd.patientDetails.ONSET}}</P>
								<HR CLASS="underline_light_grey">
								<DIV>
									<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
										<P CLASS="myLabel" STYLE="font-weight: normal">Smoker: {{pd.patientDetails.smoker}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
									<DIV STYLE="float: right; width: 50%">
										<P CLASS="myLabel" STYLE="font-weight: normal">Packs/Year: {{pd.patientDetails.packsPY}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
								</DIV><BR>
								<P CLASS="myLabel">Notes</P>
								<HR CLASS="underline">
							</DIV>
						</DIV>
					</DIV>
				</DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 20%; height: 1200px; border: 0; background-color: teal">
				<P>&nbsp;</P>
			</DIV>
		</DIV>
		<DIV CLASS="footer" STYLE="clear: left;">
			<SPAN><A HREF="...">For doctors</A>&nbsp;&nbsp;&nbsp;<A HREF="...">For Patient</A>&nbsp;&nbsp;&nbsp;<A HREF="...">About the app</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Privacy</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Blog</A>&nbsp;&nbsp;&nbsp;<A HREF="mailto: myhippocrates@themarketstrust.com">Contact</A></SPAN><BR><BR>
			<DIV>Copyright 2015 MyHippocrates Luxembourg</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
