<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>Patient Data</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen where administrative data of the patient can be found" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="body" ng-app="myHippocratesApp" ng-controller="patientDataCtrl as pd">
	<DIV ID="page">
		<DIV CLASS="header">
			<SPAN>
				<IMG SRC="./gifs/myHippocrates.png" BORDER=0 ALIGN="left"><P STYLE="float: right; padding: 10px;"><A HREF="./modify_patient.html" TARGET="_blank"><I CLASS="fa fa-user fa-2x" STYLE="color: teal;" TITLE="modify current patient"></I></A>&nbsp;&nbsp;<B>Dr Hippocrates</B>&nbsp;&nbsp;<I CLASS="fa fa-search fa-2x" TITLE="search"></I>&nbsp;&nbsp;<A HREF="./home.html"><I CLASS="fa fa-home fa-2x" TITLE="home"></I></A>&nbsp;&nbsp;<I CLASS="fa fa-power-off fa-2x" TITLE="logout"></I></P>
			</SPAN>
		</DIV>
		<DIV>
			<DIV CLASS="column" STYLE="width: 15%; height: 1200px; background-color: #40D5AD;">
				<DIV CLASS="left_menu_item"><A HREF="./patient_data.html">Administrative data<I CLASS="fa fa-edit fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./patient_history.html">Past medical history<I CLASS="fa fa-archive fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./allergy_history.html">Allergy history<I CLASS="fa fa-pagelines fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./immunisation.html">Immunisation<I CLASS="fa fa-medkit fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
				<DIV CLASS="left_menu_item"><A HREF="./chronic_medication.html">Chronic medication<I CLASS="fa fa-h-square fa-1g" STYLE="float: right; padding-right: 10px;"></I></A></DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 60%; height: 1200px; border-bottom: 0;">
				<DIV CLASS="general_infos" STYLE="padding: 0; height: 9%">
					<IMG SRC="{{pd.recoverPhoto()}}" BORDER=0 WIDTH="100" HEIGHT="100" STYLE="float: left;">
					<H1><B>{{pd.recoverFirstName()}}&nbsp;{{pd.recoverLastName()}}</B></H1>
					<SPAN>Date of birth:&nbsp;{{pd.recoverBirthDate()}} - Sex: {{pd.recoverSex()}} - Social ID: {{pd.recoverSocialID()}}</SPAN>
				</DIV>
				<DIV>
					<DIV CLASS="dtab_ar_left dtab"><A CLASS="dtab_link" HREF="./prescription.html">New Consultation</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon1.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_av dtab">&nbsp;<A CLASS="dtab_link" HREF="./patient_data.html">Patient Data</A>&nbsp;&nbsp;&nbsp;<IMG SRC="./gifs/icon2.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar_right dtab"><A CLASS="dtab_link" HREF="./lab_data.html">Patient Documents</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon3.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="./data_analyzing.html">Data Analyzing</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon4.png" WIDTH=18 HEIGHT=18></DIV>
					<DIV CLASS="dtab_ar dtab"><A CLASS="dtab_link" HREF="./tracking_board.html">Tracking board</A>&nbsp;&nbsp;<IMG SRC="./gifs/icon5.png" WIDTH=18 HEIGHT=18></DIV>
				</DIV>
				<DIV CLASS="general_infos">
					<H3>There are <A HREF="">6 records</A> of this patient's visits in the database</H3>
					<BR>
					<DIV CLASS="insuranceDetails">
						<P CLASS="myLabel">Insurance details</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Social security: {{pd.recoverSocialID()}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Health insurance: {{pd.recoverHealthIns()}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Complementary insurance: {{pd.recoverComplementaryIns()}}</P>
					</DIV><BR>
					<DIV ID="contactDetails">
						<P CLASS="myLabel">Contact details</P>
						<HR CLASS="underline">
						<P CLASS="myLabel" STYLE="font-weight: normal">Address: {{pd.recoverAddress()}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Phone number: {{pd.recoverPhone()}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">Mobile number: {{pd.recoverMobile()}}</P>
						<HR CLASS="underline_light_grey">
						<P CLASS="myLabel" STYLE="font-weight: normal">ICE number: {{pd.recoverICE()}}</P>
					</DIV><BR>
					<DIV>
						<DIV STYLE="float: left; width: 50%">
							<DIV ID="account">
								<P CLASS="myLabel">Account</P>
								<HR CLASS="underline">
								<P CLASS="myLabel" STYLE="font-weight: normal">Email: {{pd.recoverEmail()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Language: {{pd.recoverLanguage()}}</P>
							</DIV><BR>
							<DIV ID="personnalDetails">
								<P CLASS="myLabel">Personnal details</P>
								<HR CLASS="underline">
								<P CLASS="myLabel" STYLE="font-weight: normal">Marital status: {{pd.recoverMaritalStatus()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Children: {{pd.recoverChildreen()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Delivery: {{pd.recoverDelivery()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Nationality: {{pd.recoverNationality()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">Occupation: {{pd.recoverOccupation()}}</P>
							</DIV>
						</DIV>
						<DIV STYLE="float: right; width: 50%">
							<DIV ID="physicalDetails">
								<P CLASS="myLabel">Physical details</P>
								<HR CLASS="underline">
								<DIV>
									<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
										<P CLASS="myLabel" STYLE="font-weight: normal">Height: {{pd.recoverHeight()}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
									<DIV STYLE="float: right; width: 50%">
										<P CLASS="myLabel" STYLE="font-weight: normal">Weight: {{pd.recoverWeight()}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
								</DIV>
								<P CLASS="myLabel" STYLE="font-weight: normal">BMI: {{pd.recoverBMI()}}</P>
								<HR CLASS="underline_light_grey">
								<P CLASS="myLabel" STYLE="font-weight: normal">ONSET: {{pd.recoverONSET()}}</P>
								<HR CLASS="underline_light_grey">
								<DIV>
									<DIV STYLE="float: left; width: 50%; padding-right: 10px;">
										<P CLASS="myLabel" STYLE="font-weight: normal">Smoker: {{pd.recoverSmoker()}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
									<DIV STYLE="float: right; width: 50%">
										<P CLASS="myLabel" STYLE="font-weight: normal">Packs/Year: {{pd.recoverPacksPY()}}</P>
										<HR CLASS="underline_light_grey">
									</DIV>
								</DIV><BR>
								<P CLASS="myLabel">Notes</P>
								<HR CLASS="underline">
							</DIV>
						</DIV>
					</DIV>
				</DIV>
			</DIV>
			<DIV CLASS="column" STYLE="width: 20%; height: 1200px; border: 0;">
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Past Medical History</P>
					</DIV>
					<UL>
						<LI>Diabete since 2011</LI>
						<LI>Hypertension since 2015</LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Allergies</P>
					</DIV>
					<UL>
						<LI>Allergy to sea food, severe, since 2011</LI>
					</UL>
				</DIV>
				<DIV CLASS="History">
					<DIV CLASS="bandeau">
						<P>Familly History</P>
					</DIV>
					<UL>
						<LI>Diabete in father</LI>
						<LI>Breast cancer in mother</LI>
					</UL>
				</DIV>
				<DIV CLASS="History" STYLE="height: 500px;">
					<DIV CLASS="bandeau">
						<P>Chronic medication</P>
					</DIV>
					<UL>
						<LI>Tab Metformin 500mg, TDS, since 2011</LI>
					</UL>
				</DIV>
			</DIV>
		</DIV>
		<DIV CLASS="footer" STYLE="clear: left;">
			<SPAN><A HREF="...">For doctors</A>&nbsp;&nbsp;&nbsp;<A HREF="...">For Patient</A>&nbsp;&nbsp;&nbsp;<A HREF="...">About the app</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Privacy</A>&nbsp;&nbsp;&nbsp;<A HREF="...">Blog</A>&nbsp;&nbsp;&nbsp;<A HREF="mailto: myhippocrates@themarketstrust.com">Contact</A></SPAN><BR><BR>
			<DIV>Copyright 2015 MyHippocrates Luxembourg</DIV>
		</DIV>
	</DIV>
</BODY>
</HTML>
