<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<HEAD>
	<TITLE>create new template for prescription</TITLE>
	<META CHARSET="utf-8">
	<META NAME="description" CONTENT="The screen for creation of new template for drug prescription" />
  	<!--<LINK REL="stylesheet" TYPE="text/css" HREF="/usr/share/css/bootstrap/bootstrap.min.css">
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/jquery/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="/usr/share/javascript/bootstrap/angular.min.js"></SCRIPT>-->
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<LINK REL="stylesheet" TYPE="text/css" HREF="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></SCRIPT>
  	<SCRIPT TYPE="text/javascript" SRC="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></SCRIPT>
	<LINK HREF="./css/myStyle.css" REL="stylesheet" TYPE="text/css" />
	<SCRIPT TYPE="text/javascript" SRC="./js/app.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/controller.js"></SCRIPT>
	<SCRIPT TYPE="text/javascript" SRC="./js/service.js"></SCRIPT>
</HEAD>
<BODY ID="detach_mode" ng-app="myHippocratesApp" ng-controller="prescriptionCtrl as p">
	<DIV ID="page">
		<SPAN CLASS="header">
			<SPAN CLASS="container" STYLE="margin-top: 10px;">
				<SPAN CLASS="general_infos" STYLE="font-family: Arial, sans-serif; font-size: 24pt; font-style: italic; font-weight: bold; color: #40D5C5;">{{p.getCurrentModule()}} Prescription</SPAN>
  				<DIV CLASS="btn-group" STYLE="float:right" ng-show="p.is_public">
					<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="p.switchPrivilege()">public&nbsp;</BUTTON>
    					<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="p.switchPrivilege()">private</BUTTON>
  				</DIV>
  				<DIV CLASS="btn-group" STYLE="float:right" ng-show="!p.is_public">
					<BUTTON TYPE="button" ID="publicButton" NAME="publicButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: #40D5C5;color: white;" ng-click="p.switchPrivilege()">public&nbsp;</BUTTON>
    					<BUTTON TYPE="button" ID="privateButton" NAME="privateButton" CLASS="btn btn-primary" STYLE="border: 2px solid #40D5C5; background-color: white;color: #40D5C5;" ng-click="p.switchPrivilege()">private</BUTTON>
  				</DIV><BR>
				<P STYLE="float: right;" ng-model="p.templateGrantAccess">Current template is {{p.templateGrantAccess}}</P>
			</SPAN>
		</SPAN>
		<DIV CLASS="general_infos">
			<P>Patient's name: John Doe</P>
			<P>Dr Hippocrates</P>
		</DIV>
		<DIV CLASS="container" STYLE="margin-bottom: 10px;">
  			<FORM ROLE="form">
    				<DIV CLASS="form-group">
      					<LABEL FOR="shortcut">Shortcut:</LABEL>
      					<INPUT CLASS="form-control" NAME="shortcut" ID="shortcut" TYPE="text" ng-model="p.newTemplate.shortcut">
    				</DIV>
    				<DIV CLASS="form-group">
      					<LABEL FOR="description">Description:</LABEL>
      					<INPUT CLASS="form-control" NAME="description" ID="description" TYPE="text" ng-model="p.newTemplate.description">
    				</DIV>
				<DIV CLASS="cols-xs-4">
					<LABEL FOR="prescription">Prescription:</LABEL>
					<TEXTAREA CLASS="form-control" ROWS="20" COLS="40" NAME="prescriptionTemplate" ID="prescriptionTemplate" TYPE="text" ng-model="p.value">{{p.latestData()}}</TEXTAREA>
				</DIV>
			</FORM>
		</DIV>
		<DIV CLASS="button_set">
			<CENTER>
			<SPAN STYLE="margin-top: 10px;">
  				<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #40D5C5; padding-left: 40px; padding-right: 40px;" ng-click="p.storeTemplate()">Confirm</BUTTON>
  				<BUTTON TYPE="button" CLASS="btn btn-primary btn-md" STYLE="border: 0; color: white; background-color: #FF4500; padding-left: 40px; padding-right: 40px;" ng-click="p.cancel()">Cancel</BUTTON>
			</SPAN>
			</CENTER>
		</DIV>
	</DIV>
</BODY>
</HTML>
